
.manMove {
  width: 31px;
  height: 48px;
  background-image: url(assets/images/man_31x48_move.png);
  animation: move 1s steps(15, end) infinite;

  &.down {
    background-position-y: 0px;
  }

  &.up {
    background-position-y: -192px;
  }

  &.left {
    background-position-y: -96px;
  }

  &.right {
    background-position-y: -96px;
    transform: rotateY(180deg);
  }

  @keyframes move {
    to { background-position-x: -465px; }
  }

}
